.App {
  margin: 1.25rem auto;
  max-width: 75rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .App {
    max-width: 900px;
  }
}

@media (max-width: 900px) {
  .App {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .App {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
